--- samples/riscv32-esp-elf/crosstool.config.orig	2022-02-11 05:27:51 UTC
+++ samples/riscv32-esp-elf/crosstool.config
@@ -22,15 +22,8 @@ CT_NEWLIB_VERSION="3.3.0"
 
 CT_NEWLIB_V_3_3=y
 CT_NEWLIB_VERSION="3.3.0"
-CT_NEWLIB_SRC_DEVEL=y
-CT_NEWLIB_DEVEL_VCS_git=y
-CT_NEWLIB_DEVEL_VCS="git"
-CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
-CT_NEWLIB_DEVEL_BRANCH="esp-2021r2"
-CT_NEWLIB_DEVEL_REVISION=""
-CT_NEWLIB_DEVEL_SUBDIR=""
-CT_NEWLIB_DEVEL_BOOTSTRAP=""
-CT_LIBC_NEWLIB_TARGET_CFLAGS=""
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_VERSION%%"
 CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-long-time_t --enable-newlib-nano-malloc --enable-newlib-retargetable-locking --enable-newlib-iconv"
 CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
 CT_LIBC_NEWLIB_REENT_SMALL=y
