--- samples/riscv32-esp-elf/crosstool.config.orig	2022-02-11 05:27:51 UTC
+++ samples/riscv32-esp-elf/crosstool.config
@@ -22,15 +22,8 @@ CT_NEWLIB_VERSION="3.3.0"
 
 CT_NEWLIB_V_3_3=y
 CT_NEWLIB_VERSION="3.3.0"
-CT_NEWLIB_SRC_DEVEL=y
-CT_NEWLIB_DEVEL_VCS_git=y
-CT_NEWLIB_DEVEL_VCS="git"
-CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
-CT_NEWLIB_DEVEL_BRANCH="esp-2021r2-patch5"
-CT_NEWLIB_DEVEL_REVISION=""
-CT_NEWLIB_DEVEL_SUBDIR=""
-CT_NEWLIB_DEVEL_BOOTSTRAP=""
-CT_LIBC_NEWLIB_TARGET_CFLAGS=""
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_NEWLIB_TAG%%"
 CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-long-time_t --enable-newlib-nano-malloc --enable-newlib-retargetable-locking --enable-newlib-iconv"
 CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
 CT_LIBC_NEWLIB_REENT_SMALL=y
@@ -49,34 +42,16 @@ CT_GCC_VERSION="8.4.0"
 CT_ISL_V_0_19=y
 CT_GCC_V_8_4_0=y
 CT_GCC_VERSION="8.4.0"
-CT_GCC_SRC_DEVEL=y
-CT_GCC_DEVEL_VCS_git=y
-CT_GCC_DEVEL_VCS="git"
-CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
-CT_GCC_DEVEL_BRANCH="esp-2021r2-patch4"
-CT_GCC_DEVEL_REVISION=""
-CT_GCC_DEVEL_SUBDIR=""
-CT_GCC_DEVEL_BOOTSTRAP=""
+CT_GCC_SRC_CUSTOM=y
+CT_GCC_CUSTOM_LOCATION="%%WRKDIR%%/gcc-%%ESPRESSIF_GCC_TAG%%"
 
 CT_BINUTILS_V_2_35=y
 CT_BINUTILS_VERSION="2.35.1"
-CT_BINUTILS_SRC_DEVEL=y
-CT_BINUTILS_DEVEL_VCS_git=y
-CT_BINUTILS_DEVEL_VCS="git"
-CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_BINUTILS_DEVEL_BRANCH="esp-2021r2-patch4-binutils"
-CT_BINUTILS_DEVEL_REVISION=""
-CT_BINUTILS_DEVEL_SUBDIR=""
-CT_BINUTILS_DEVEL_BOOTSTRAP=""
+CT_BINUTILS_SRC_CUSTOM=y
+CT_BINUTILS_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_BINUTILS_TAG%%"
 
 CT_GDB_V_9_2=y
 CT_GDB_VERSION="9.2"
-CT_GDB_SRC_DEVEL=y
-CT_GDB_DEVEL_VCS_git=y
-CT_GDB_DEVEL_VCS="git"
-CT_GDB_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_GDB_DEVEL_BRANCH="esp-2021r2-patch5-gdb"
-CT_GDB_DEVEL_REVISION=""
-CT_GDB_DEVEL_SUBDIR=""
-CT_GDB_DEVEL_BOOTSTRAP=""
-CT_GDB_CROSS_PYTHON_BINARY="python2"
+CT_GDB_SRC_CUSTOM=y
+CT_GDB_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_GDB_TAG%%"
+CT_GDB_CROSS_PYTHON_BINARY="%%PYTHON_VERSION%%"
