--- samples/xtensa-esp-elf/crosstool.config.orig	2025-12-05 07:19:54 UTC
+++ samples/xtensa-esp-elf/crosstool.config
@@ -89,3 +89,12 @@ CT_BINUTILS_DEVEL_BOOTSTRAP=""
 CT_BINUTILS_DEVEL_REVISION=""
 CT_BINUTILS_DEVEL_SUBDIR=""
 CT_BINUTILS_DEVEL_BOOTSTRAP=""
+
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_NEWLIB_TAG%%"
+CT_PICOLIBC_SRC_CUSTOM=y
+CT_PICOLIBC_CUSTOM_LOCATION="%%WRKDIR%%/picolibc-%%ESPRESSIF_PICOLIBC_TAG%%"
+CT_GCC_SRC_CUSTOM=y
+CT_GCC_CUSTOM_LOCATION="%%WRKDIR%%/gcc-%%ESPRESSIF_GCC_TAG%%"
+CT_BINUTILS_SRC_CUSTOM=y
+CT_BINUTILS_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_BINUTILS_TAG%%"
