--- samples/riscv32-esp-elf/crosstool.config.orig	2022-08-22 12:57:15 UTC
+++ samples/riscv32-esp-elf/crosstool.config
@@ -22,14 +22,8 @@ CT_NEWLIB_VERSION="4.1.0"
 
 CT_NEWLIB_V_4_1=y
 CT_NEWLIB_VERSION="4.1.0"
-CT_NEWLIB_SRC_DEVEL=y
-CT_NEWLIB_DEVEL_VCS_git=y
-CT_NEWLIB_DEVEL_VCS="git"
-CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
-CT_NEWLIB_DEVEL_BRANCH="esp-2022r1"
-CT_NEWLIB_DEVEL_REVISION=""
-CT_NEWLIB_DEVEL_SUBDIR=""
-CT_NEWLIB_DEVEL_BOOTSTRAP=""
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_NEWLIB_TAG%%"
 CT_LIBC_NEWLIB_TARGET_CFLAGS=""
 CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-nano-malloc --enable-newlib-retargetable-locking --enable-newlib-iconv"
 CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
@@ -47,34 +41,16 @@ CT_GCC_VERSION="11.2.0"
 
 CT_GCC_V_11=y
 CT_GCC_VERSION="11.2.0"
-CT_GCC_SRC_DEVEL=y
-CT_GCC_DEVEL_VCS_git=y
-CT_GCC_DEVEL_VCS="git"
-CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
-CT_GCC_DEVEL_BRANCH="esp-2022r1"
-CT_GCC_DEVEL_REVISION=""
-CT_GCC_DEVEL_SUBDIR=""
-CT_GCC_DEVEL_BOOTSTRAP=""
+CT_GCC_SRC_CUSTOM=y
+CT_GCC_CUSTOM_LOCATION="%%WRKDIR%%/gcc-%%ESPRESSIF_GCC_TAG%%"
 
 CT_BINUTILS_V_2_35=y
 CT_BINUTILS_VERSION="2.35.1"
-CT_BINUTILS_SRC_DEVEL=y
-CT_BINUTILS_DEVEL_VCS_git=y
-CT_BINUTILS_DEVEL_VCS="git"
-CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_BINUTILS_DEVEL_BRANCH="esp-2022r1-binutils"
-CT_BINUTILS_DEVEL_REVISION=""
-CT_BINUTILS_DEVEL_SUBDIR=""
-CT_BINUTILS_DEVEL_BOOTSTRAP=""
+CT_BINUTILS_SRC_CUSTOM=y
+CT_BINUTILS_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_BINUTILS_TAG%%"
 
 CT_GDB_V_9_2=y
 CT_GDB_VERSION="9.2"
-CT_GDB_SRC_DEVEL=y
-CT_GDB_DEVEL_VCS_git=y
-CT_GDB_DEVEL_VCS="git"
-CT_GDB_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_GDB_DEVEL_BRANCH="esp-2022r1-gdb"
-CT_GDB_DEVEL_REVISION=""
-CT_GDB_DEVEL_SUBDIR=""
-CT_GDB_DEVEL_BOOTSTRAP=""
-CT_GDB_CROSS_PYTHON_BINARY="python2"
+CT_GDB_SRC_CUSTOM=y
+CT_GDB_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_GDB_TAG%%"
+CT_GDB_CROSS_PYTHON_BINARY="%%PYTHON_VERSION%%"
