--- samples/riscv32-esp-elf/crosstool.config.orig	2024-09-05 04:46:18 UTC
+++ samples/riscv32-esp-elf/crosstool.config
@@ -21,14 +21,9 @@ CT_NEWLIB_VERSION="4.3.0"
 
 CT_NEWLIB_V_4_3=y
 CT_NEWLIB_VERSION="4.3.0"
-CT_NEWLIB_SRC_DEVEL=y
-CT_NEWLIB_DEVEL_VCS_git=y
-CT_NEWLIB_DEVEL_VCS="git"
-CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
-CT_NEWLIB_DEVEL_BRANCH="esp-4.3.0_20240530"
-CT_NEWLIB_DEVEL_REVISION=""
-CT_NEWLIB_DEVEL_SUBDIR=""
-CT_NEWLIB_DEVEL_BOOTSTRAP=""
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_NEWLIB_TAG%%"
+
 CT_LIBC_NEWLIB_TARGET_CFLAGS=""
 CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-iconv --enable-newlib-reent-binary-compat"
 CT_LIBC_NEWLIB_NANO_MALLOC=y
@@ -49,22 +44,10 @@ CT_GCC_VERSION="13.2.0"
 
 CT_GCC_V_13=y
 CT_GCC_VERSION="13.2.0"
-CT_GCC_SRC_DEVEL=y
-CT_GCC_DEVEL_VCS_git=y
-CT_GCC_DEVEL_VCS="git"
-CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
-CT_GCC_DEVEL_BRANCH="esp-13.2.0_20240530"
-CT_GCC_DEVEL_REVISION=""
-CT_GCC_DEVEL_SUBDIR=""
-CT_GCC_DEVEL_BOOTSTRAP=""
+CT_GCC_SRC_CUSTOM=y
+CT_GCC_CUSTOM_LOCATION="%%WRKDIR%%/gcc-%%ESPRESSIF_GCC_TAG%%"
 
 CT_BINUTILS_V_2_41=y
 CT_BINUTILS_VERSION="2.41.0"
-CT_BINUTILS_SRC_DEVEL=y
-CT_BINUTILS_DEVEL_VCS_git=y
-CT_BINUTILS_DEVEL_VCS="git"
-CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_BINUTILS_DEVEL_BRANCH="esp-2.41.0_20240530"
-CT_BINUTILS_DEVEL_REVISION=""
-CT_BINUTILS_DEVEL_SUBDIR=""
-CT_BINUTILS_DEVEL_BOOTSTRAP=""
+CT_BINUTILS_SRC_CUSTOM=y
+CT_BINUTILS_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_BINUTILS_TAG%%"
