--- samples/xtensa-esp32-elf/crosstool.config.orig	2023-07-29 07:06:30 UTC
+++ samples/xtensa-esp32-elf/crosstool.config
@@ -20,14 +20,8 @@ CT_NEWLIB_VERSION="4.1.0"
 
 CT_NEWLIB_V_4_1=y
 CT_NEWLIB_VERSION="4.1.0"
-CT_NEWLIB_SRC_DEVEL=y
-CT_NEWLIB_DEVEL_VCS_git=y
-CT_NEWLIB_DEVEL_VCS="git"
-CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
-CT_NEWLIB_DEVEL_BRANCH="esp-4.1.0_20230208"
-CT_NEWLIB_DEVEL_REVISION=""
-CT_NEWLIB_DEVEL_SUBDIR=""
-CT_NEWLIB_DEVEL_BOOTSTRAP=""
+CT_NEWLIB_SRC_CUSTOM=y
+CT_NEWLIB_CUSTOM_LOCATION="%%WRKDIR%%/newlib-esp32-%%ESPRESSIF_NEWLIB_TAG%%"
 CT_LIBC_NEWLIB_TARGET_CFLAGS=""
 CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY="--enable-newlib-nano-malloc --enable-newlib-retargetable-locking --enable-newlib-iconv"
 CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
@@ -45,22 +39,10 @@ CT_GCC_VERSION="12.2.0"
 
 CT_GCC_V_12=y
 CT_GCC_VERSION="12.2.0"
-CT_GCC_SRC_DEVEL=y
-CT_GCC_DEVEL_VCS_git=y
-CT_GCC_DEVEL_VCS="git"
-CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
-CT_GCC_DEVEL_BRANCH="esp-12.2.0_20230208"
-CT_GCC_DEVEL_REVISION=""
-CT_GCC_DEVEL_SUBDIR=""
-CT_GCC_DEVEL_BOOTSTRAP=""
+CT_GCC_SRC_CUSTOM=y
+CT_GCC_CUSTOM_LOCATION="%%WRKDIR%%/gcc-%%ESPRESSIF_GCC_TAG%%"
 
 CT_BINUTILS_V_2_39=y
 CT_BINUTILS_VERSION="2.39.0"
-CT_BINUTILS_SRC_DEVEL=y
-CT_BINUTILS_DEVEL_VCS_git=y
-CT_BINUTILS_DEVEL_VCS="git"
-CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
-CT_BINUTILS_DEVEL_BRANCH="esp-2.39.0_20230208"
-CT_BINUTILS_DEVEL_REVISION=""
-CT_BINUTILS_DEVEL_SUBDIR=""
-CT_BINUTILS_DEVEL_BOOTSTRAP=""
+CT_BINUTILS_SRC_CUSTOM=y
+CT_BINUTILS_CUSTOM_LOCATION="%%WRKDIR%%/binutils-gdb-%%ESPRESSIF_BINUTILS_TAG%%"
